/* ---------- VARIABLES ---------- */
$color-primary: #ccc;
$color-secondary: #6f42c1;
$color-accent: #1DA1F2;
$color-warning: #fd7e14;
$color-dark: #333;
$background-gradient: linear-gradient(135deg, #f3f3f3 0%, #ccc 100%);
$background-gradient-dark: linear-gradient(90deg, rgba(36, 36, 36, 0.9) 0%, rgba(20, 20, 20, 0.9) 100%);
$background-gradient-titles: linear-gradient(135deg, rgba(255, 94, 0, 0.8) 0%, rgba(255, 42, 104, 0.8) 100%);